body {
  background: #111;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding-bottom: 80px;
}

h1 {
  text-align: center;
}

.lista-juegos {
  list-style: none;
  padding: 20px;
  max-width: 400px;
  margin: auto;
}

.lista-juegos li {
  padding: 10px;
  border-bottom: 1px solid #333;
  cursor: pointer;
}

.lista-juegos li:hover {
  background: #1e1e1e;
}

/* Barra inferior */
#barra {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #00aaff;
}

#barra span {
  margin-left: 10px;
}

.botones a {
  background: #00aaff;
  color: black;
  padding: 8px 12px;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}
